body {
    position: relative;
}

#pop-up {
    position: absolute;
    z-index: 999000;
    left: 50px;
    top: 50px;
}

.pop-up-part {
    background-color: #E3E3E3;
    box-shadow: 0 0 5px 1px #3C81FF;
}

#buble {
    position: relative;
    float: left;
    z-index: 999100;
    border-radius: 5px;
    box-shadow: none;
}

#buble-shadow {
    position: relative;
    float: left;
    border-radius: 5px;
}

#translation-container {
    min-width: 2em;
    min-height: 2em;
    max-width: 500px;
    margin-right: 30px;
}

#pronounce-icon-container {
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 0 5px;
    margin-top: -10px;
}

#translation {
    margin: 0.5em;
    color: #727272;
    font-family: sans-serif;
    font-size: 18px;
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    -webkit-transform: rotate(45deg) skew(10deg, 10deg);
}

#arrow-up {
    top: 0;
    margin-top: -5px;
}

#arrow-down {
    bottom: 0;
    margin-bottom: -5px;
}
